<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Datos inquilino</div>
      <p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
          <label class="col-sm-2 control-label">Nombre y apellido</label>
          <div class="col-sm-10">
          <p class="form-control-static">Inquilino</p>
          </div>
          </div>
        </form>
        </div>
      </p>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Datos de la operación</div>
    <div class="panel-body">
      <p>
          <b>Monto total de la operación</b>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="text" class="form-control">
            <span class="input-group-addon">.00</span>
          </div>
          <b>Dirección del inmueble</b>
          <input type="text" class="form-control">
          <b>Localidad del alquiler</b>
          <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          </select>
        </div>
      </p>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Comisiones</div>
    <div class="panel-body">
      <p>
          <b>Inmobiliaria</b>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="text" class="form-control">
            <span class="input-group-addon">.00</span>
          </div> 
          <b>Oficina comercial</b>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="text" class="form-control">
            <span class="input-group-addon">.00</span>
          </div> 
      </p>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <b> Operación finalizada</b>
  <div class="btn-group btn-toggle"> 
    <button class="btn btn-sm btn-default">Sí</button>
    <button class="btn btn-sm btn-primary active">No</button>
  </div>
</div>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Forma de pago</div>
    <div class="panel-body">
      <p>
          <b>Anticipo</b>
          <div class="input-group">
            <span class="input-group-addon">$</span>
              <input type="text" class="form-control">
            <span class="input-group-addon">.00</span>
          </div> 
          <b>Cantidad de cuotas</b>
          <select class="form-control">
          <option>-</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          </select>
      </p>
    </div>
    </div>
  </div>
</div>